<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvtu.mapper.StrategyMapper">
    <resultMap id="BaseResultMap" type="com.lvtu.entity.Strategy">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="author" property="author"/>
        <result column="avatar" property="avatar"/>
        <result column="dest" property="dest"/>
        <result column="cover" property="cover"/>
        <result column="likes" property="likes"/>
        <result column="comments" property="comments"/>
        <result column="tags" property="tags"/>
        <result column="status" property="status"/>
        <result column="publish_time" property="publishTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
</mapper>
